*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

html, body {
	width: 100%;
	height: 100%;
	/*background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png), url(https://images.unsplash.com/photo-1551459601-c42a28ef7506?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
	background-repeat: no-repeat;
	background-size: cover;


}


#banner{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png),	url(https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 40vh;
	width: 100%;*/

	height: 40%; 
	width:100%;
	
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}
#bannerText{
	text-align: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

}

#myNavbar{
	/*background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);*/
	margin-bottom: 20px;
}

#courseName{
	font-size: 60px;
}
#courseName2{
	font-size: 40px;

	
}
#courseDescription{
	font-size: 20px;
}
#coursePrice{
	font-size: 20px;
}

/*#overlayDetails{
	padding: 40px 30px;
	border-radius: 10px;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	margin-bottom: 10px;
}*/
#enrollBtn{
	border-radius: 25px;
	padding: 10px 15px;
	background-color: #394867;

transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}




#enrollBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#enrollBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#enrollBtn:hover span {
  padding-right: 25px;
}

#enrollBtn:hover span:after {
  opacity: 1;
  right: 0;
}

footer {
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	position: relative;
}
