*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

html, body {
	height: 100%;
}
#myNavbar{
background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png)
}


#banner{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png),	url(https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
	/*background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 40vh;
	width: 100%;*/

	height: 40%; 
	width:100%;
	
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}
#bannerText{
	text-align: center;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

}


#container {
	min-height: 100%
}

main {
	
	padding-bottom: 10px;

}





#myNavbar{
	/*background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);*/
}

footer {
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	position: relative;
}


/*cards*/
img{
/*  height:150px;*/
  width:100%;
}

div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
/*  font-size:15px;*/
  transition:1s;
  cursor:pointer;
}
.card-title i{  
/*  font-size:15px;*/
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}