*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png), url(https://images.unsplash.com/photo-1551459601-c42a28ef7506?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

#myNavbar{
	/*background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);*/
	margin-bottom: 20px;
}

#myJumbotron{
	padding-top: 50px;
}

footer {
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	position: relative;
}