*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png), url(https://images.unsplash.com/photo-1484665739383-a1069a82d4be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}


#imgReg{
	width: 100%;
	height: 100%;
}

#formContainer{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 25px;
	padding: 0px 30px;
}
#formContainer button{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	
}



footer {
	position: relative;
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
}