*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}

html, body {
	height: 100%;
}

/*.navbar-brand
{
    position: relative;
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 170px;
    left: 15px;
}*/

#banner{
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png),	url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	width: 100%;


}
#logo{
	height: 30%;
	width: 30%;
}

#landingTitle{
	font-size: 70px;
}
#slogan{
	font-size: 20px;
}

#bookNowBtn{
	border-radius: 25px;
	padding: 10px 15px;
	background-color: #394867;
	
	color: #FFFFFF;
	
	font-size: 28px;
	
	
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}




#bookNowBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#bookNowBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#bookNowBtn:hover span {
  padding-right: 25px;
}

#bookNowBtn:hover span:after {
  opacity: 1;
  right: 0;
}





#bannerText{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

}


#container {
	min-height: 100%
}

#main {
	
	padding-bottom: 100px;
	padding-top: 100px;

}

h5{
	font-weight: 900;
}
.cardBody{
	font-weight: 500;
}

footer {
	background: url(https://truessencespa.com/wp-content/uploads/revslider/home-14/slider-overlay.png);
	position: relative;
}